language: objective-c
osx_image: xcode7
xcode_project: GeoDelta.xcodeproj
xcode_scheme: GeoDelta
before_install:
  - brew update
  - brew install carthage
  - CODE_SIGN_REQUIRED=NO carthage bootstrap --verbose
